meta(
    charset="utf-8" title="The Internets"
    description="Interactive Internet Game"
)

script(src="./js/libs/socket.io.js")
script(src="./js/libs/Tuio.min.js")
script(src="./js/libs/lodash.js")
script(src="./js/libs/Tuio.min.js")

