doctype html
html(lang="en")
  head
    title = Hexatouch:WebTechnolgiesExplained
    script(type='text/javascript').
      alert("Super Fancy Alert in Kisok Mode");
  body
    h1 Lerne den Aufbau des Webs kennen.
    .client
      p Platziere den Client hier.
      p Super toll.
